[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
pandas = "*"
streamlit = "*"
matplotlib = "*"
nbformat = "*"
plotly = "*"
wordcloud = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
selenium = "*"
accelerate = "*"
bitsandbytes = "*"
wheel = "*"
ninja = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
mistral-inference = "*"
tf-keras = "*"
tensorflow-cpu = "*"
streamlit-navigation-bar = "*"
google-generativeai = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
